Repository ansys/pysherlock, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

FEAT: adding dependabot
  .github/dependabot.yml
Labels: maintenance

create list_laminate_layers function
  doc/source/api/stackup.rst
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/stackup.py
  tests/test_stackup.py
Labels: documentation, testing

FEAT: updating main workflow
  .github/workflows/ci_cd.yml
Labels: maintenance

TMP: Allow for docs-style error temporarily
  .github/workflows/ci_cd.yml
Labels: maintenance

FIX: Align CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: documentation

Add_copyright_statements
  src/ansys/sherlock/core/__init__.py
  src/ansys/sherlock/core/_version.py
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/common.py
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/grpc_stub.py
  src/ansys/sherlock/core/launcher.py
  src/ansys/sherlock/core/layer.py
  src/ansys/sherlock/core/lifecycle.py
  src/ansys/sherlock/core/logging.py
  src/ansys/sherlock/core/model.py
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/project.py
  src/ansys/sherlock/core/sherlock.py
  src/ansys/sherlock/core/stackup.py
  tests/test_analysis.py
  tests/test_common.py
  tests/test_launcher.py
  tests/test_layer.py
  tests/test_lifecycle.py
  tests/test_model.py
  tests/test_parts.py
  tests/test_project.py
  tests/test_stackup.py
Labels: testing

TMP: Adding AUTHORS.md file
  AUTHORS.md
Labels: none

unnecessary white space removed.
  src/ansys/sherlock/core/stackup.py
Labels: none

Edits to resolve Vale issues
  README.rst
  doc/source/_static/README.md
  doc/source/api/index.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/launch_sherlock.rst
  doc/source/user_guide/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

MAINT: Bump ansys-api-sherlock dependency
  pyproject.toml
Labels: maintenance, dependencies

API to return laminate layers
  doc/source/api/stackup.rst
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/stackup.py
  tests/test_stackup.py
Labels: documentation, testing

FEAT: adding full authors list
  AUTHORS.md
Labels: none

Add_copyright_statements
  src/ansys/sherlock/core/__init__.py
  src/ansys/sherlock/core/_version.py
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/common.py
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/grpc_stub.py
  src/ansys/sherlock/core/launcher.py
  src/ansys/sherlock/core/layer.py
  src/ansys/sherlock/core/lifecycle.py
  src/ansys/sherlock/core/logging.py
  src/ansys/sherlock/core/model.py
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/project.py
  src/ansys/sherlock/core/sherlock.py
  src/ansys/sherlock/core/stackup.py
  tests/test_analysis.py
  tests/test_common.py
  tests/test_launcher.py
  tests/test_layer.py
  tests/test_lifecycle.py
  tests/test_model.py
  tests/test_parts.py
  tests/test_project.py
  tests/test_stackup.py
Labels: testing

MAINT: improvements to docs build process
  .gitignore
  doc/source/api/index.rst
Labels: documentation, maintenance

DOCS: avoid adding badges for now
  README.rst
  doc/source/index.rst
Labels: documentation

FIX: missing import in tests
  tests/test_model.py
Labels: testing

DOCS: missing landing page title
  doc/source/index.rst
Labels: documentation

FIX: point towards correct PDF
  doc/Makefile
Labels: documentation

Edits to RST files
  README.rst
  doc/source/api/analysis.rst
  doc/source/api/common.rst
  doc/source/api/index.rst
  doc/source/api/launcher.rst
  doc/source/api/layer.rst
  doc/source/api/lifecycle.rst
  doc/source/api/model.rst
  doc/source/api/parts.rst
  doc/source/api/project.rst
  doc/source/api/stackup.rst
  doc/source/contributing.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/launch_sherlock.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
Labels: documentation

Commit changes to private PY files and analysis.py
  src/ansys/sherlock/__init__.py
  src/ansys/sherlock/core/_version.py
  src/ansys/sherlock/core/analysis.py
Labels: none

Fix error messages in tests to match edits in PY file
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/common.py
  tests/test_analysis.py
Labels: testing

Fix another error message mismatch
  tests/test_analysis.py
Labels: testing

Fix line lenth issues
  src/ansys/sherlock/core/analysis.py
  tests/test_analysis.py
Labels: testing

Resolve more code style errors
  src/ansys/sherlock/core/analysis.py
  tests/test_analysis.py
Labels: testing

One last code check error
  tests/test_analysis.py
Labels: testing

Edits for Common module
  src/ansys/sherlock/core/common.py
  tests/test_common.py
Labels: testing

Edits to common and errors PY files
  src/ansys/sherlock/core/common.py
  src/ansys/sherlock/core/errors.py
Labels: none

Fix lines that were too long
  src/ansys/sherlock/core/errors.py
Labels: none

Edits to more PY files
  src/ansys/sherlock/core/grpc_stub.py
  src/ansys/sherlock/core/launcher.py
  src/ansys/sherlock/core/layer.py
  src/ansys/sherlock/core/lifecycle.py
  tests/test_layer.py
  tests/test_lifecycle.py
Labels: testing

Fix spacing and line length issues
  src/ansys/sherlock/core/launcher.py
  src/ansys/sherlock/core/layer.py
  src/ansys/sherlock/core/lifecycle.py
  tests/test_lifecycle.py
Labels: testing

Fix one more line that was too long
  tests/test_lifecycle.py
Labels: testing

Fix unterminated string literal error
  tests/test_lifecycle.py
Labels: testing

Apply suggestions from code review
  .github/dependabot.yml
Labels: maintenance

Edits to remaining PY files
  src/ansys/sherlock/core/logging.py
  src/ansys/sherlock/core/model.py
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/project.py
  src/ansys/sherlock/core/stackup.py
  tests/test_model.py
  tests/test_parts.py
  tests/test_project.py
  tests/test_stackup.py
Labels: testing

Fix code style errors
  src/ansys/sherlock/core/model.py
  src/ansys/sherlock/core/parts.py
  tests/test_parts.py
  tests/test_project.py
Labels: testing

Fixes to tests
  src/ansys/sherlock/core/layer.py
  src/ansys/sherlock/core/lifecycle.py
  src/ansys/sherlock/core/project.py
  src/ansys/sherlock/core/stackup.py
  tests/test_analysis.py
  tests/test_lifecycle.py
  tests/test_project.py
Labels: testing

Try some other changes to make fixes
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/stackup.py
  tests/test_analysis.py
  tests/test_lifecycle.py
  tests/test_parts.py
Labels: testing

Try some other changes to make fixes
  src/ansys/sherlock/core/lifecycle.py
  src/ansys/sherlock/core/stackup.py
  tests/test_lifecycle.py
Labels: testing

Fix a line that was too long
  src/ansys/sherlock/core/lifecycle.py
Labels: none

FIx an error
  tests/test_parts.py
Labels: testing

.github/labeler.yml:

documentation:
- doc/**/*
- README.rst
- CONTRIBUTING.md
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
- tox.ini
- .gitignore
dependencies:
- pyproject.toml
testing:
- tests/*
