Repository ansys/pysherlock, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, testing

.github/labeler.yml:

documentation:
- doc/**/*
- README.rst
- CONTRIBUTING.md
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
- tox.ini
- .gitignore
dependencies:
- pyproject.toml
testing:
- tests/*

create get_stackup_props
  doc/source/api/stackup.rst
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/stackup.py
  tests/test_stackup.py
Labels: documentation, testing

create get_stackup_props
  doc/source/api/stackup.rst
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/stackup.py
  tests/test_stackup.py
Labels: documentation, testing

FIX: solving tests and running pre-commit
  PySherlock.log
  doc/source/conf.py
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/common.py
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/launcher.py
  src/ansys/sherlock/core/layer.py
  src/ansys/sherlock/core/lifecycle.py
  src/ansys/sherlock/core/model.py
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/project.py
  src/ansys/sherlock/core/stackup.py
  tests/test_analysis.py
  tests/test_common.py
  tests/test_launcher.py
  tests/test_lifecycle.py
  tests/test_model.py
  tests/test_parts.py
  tests/test_project.py
  tests/test_stackup.py
Labels: documentation, testing

FIX: Remove log file
  PySherlock.log
Labels: none

FIX: Ignore any PySherlock.log file
  .gitignore
Labels: maintenance

FIX: Force vale checks
  .github/workflows/ci_cd.yml
Labels: maintenance

MAINT: Improving CONTRIBUTING and README
  CONTRIBUTING.md
  README.rst
  doc/source/contributing.rst
  doc/source/index.rst
  src/ansys/sherlock/core/lifecycle.py
Labels: documentation

FIX: title style for main README
  README.rst
Labels: documentation

Update README.rst
  README.rst
Labels: documentation

Update README.rst
  README.rst
Labels: documentation

Create get_layer_count
  doc/source/api/stackup.rst
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/stackup.py
  tests/test_stackup.py
Labels: documentation, testing

Revert "Create get_layer_count"
  doc/source/api/stackup.rst
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/stackup.py
  tests/test_stackup.py
Labels: documentation, testing

creates get_layer_count method
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/stackup.py
  tests/test_stackup.py
Labels: testing

fix incorrect method name
  tests/test_stackup.py
Labels: testing

Ryan/get layer count (#80)
  doc/source/api/stackup.rst
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/stackup.py
  tests/test_stackup.py
Labels: documentation, testing
