Repository ansys/pysherlock, pull requests merged in 2023-06, with the labels that each got.

#131 feat: activate codecov on main branch
  .github/workflows/ci_cd.yml
Labels: maintenance

#130 Jeff/test coverage stackup
  src/ansys/sherlock/core/stackup.py
  tests/test_stackup.py
Labels: testing

#129 Shockapi
  AUTHORS.md
  doc/source/api/analysis.rst
  pyproject.toml
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/errors.py
  tests/test_analysis.py
Labels: documentation, testing, maintenance, dependencies

#133 Document API return values
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/common.py
  src/ansys/sherlock/core/launcher.py
  src/ansys/sherlock/core/lifecycle.py
  src/ansys/sherlock/core/model.py
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/project.py
  src/ansys/sherlock/core/stackup.py
  tests/test_analysis.py
  tests/test_model.py
Labels: testing

#134 Use classes for returning values to API methods
  doc/source/api/index.rst
  doc/source/api/parts_types.rst
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/sherlock.py
  src/ansys/sherlock/core/stackup.py
  src/ansys/sherlock/core/types/analysis_types.py
  src/ansys/sherlock/core/types/common_types.py
  src/ansys/sherlock/core/types/parts_types.py
  src/ansys/sherlock/core/types/stackup_types.py
  tests/test_parts.py
  tests/test_stackup.py
Labels: documentation, testing

#137 fix: wrong statement regarding Python versions
  doc/source/getting_started/installation.rst
Labels: bug, documentation
