Repository ansys/pysherlock, pull requests merged in 2023-08, with the labels that each got.

#146 Keith/add project
  doc/source/api/project.rst
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/project.py
  tests/test_project.py
Labels: documentation, testing

#150 Add partmodeling API
  doc/source/api/analysis.rst
  pyproject.toml
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/project.py
  tests/test_analysis.py
Labels: documentation, testing, maintenance, dependencies

#153 test_layer: changed material for unit tests for add_potting_region when connected to Sherlock
  doc/source/api/launcher.rst
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/launcher.py
  tests/test_layer.py
Labels: documentation, testing

#160 User Guide: corrections in example code
  doc/source/getting_started/installation.rst
  doc/source/user_guide/index.rst
Labels: documentation
