Repository ansys/pysherlock, pull requests merged in 2023-10, with the labels that each got.

#179 Fix unit tests. test_layer: reverted material for add_potting_region …
  tests/__init__.py
  tests/test_layer.py
  tests/test_stackup.py
Labels: bug, testing

#180 741587: Add IMS stackup argument in import_odb_archve
  src/ansys/sherlock/core/project.py
Labels: enhancement

#191 Updating Api docs
  doc/source/api/analysis.rst
  doc/source/api/common.rst
  doc/source/api/launcher.rst
  doc/source/api/layer.rst
  doc/source/api/lifecycle.rst
  doc/source/api/model.rst
  doc/source/api/parts.rst
  doc/source/api/parts_types.rst
  doc/source/api/project.rst
  doc/source/api/stackup.rst
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/types/parts_types.py
Labels: documentation

#194 Updating API documentation
  doc/source/user_guide/index.rst
  src/ansys/sherlock/core/lifecycle.py
Labels: documentation

#195 Fix solder material
  PULL_REQUEST_TEMPLATE.md
  src/ansys/sherlock/core/analysis.py
  tests/test_analysis.py
Labels: bug, testing
