Repository ansys/pysherlock, pull requests merged in 2024-07, with the labels that each got.

#320 New API: export_all_test_points()
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/layer.py
  tests/test_layer.py
Labels: testing, enhancement

#322 New API: export_all_test_fixtures()
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/layer.py
  tests/test_layer.py
Labels: testing, enhancement

#324 export_all_test_points(): Fix test error
  tests/test_layer.py
Labels: bug, testing

#329 Update parts list validation props
  doc/source/user_guide/index.rst
  pyproject.toml
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/types/parts_types.py
  tests/test_analysis.py
  tests/test_layer.py
  tests/test_lifecycle.py
  tests/test_model.py
  tests/test_parts.py
  tests/test_project.py
Labels: testing, dependencies, documentation, maintenance

#321 Create CCA from modeling region API functionality added (with tests)
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/project.py
  tests/test_project.py
Labels: testing

#334 New API: export_FEA_model()
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/model.py
  src/ansys/sherlock/core/types/common_types.py
  tests/test_model.py
Labels: testing, enhancement

#338 Update launcher for linux
  src/ansys/sherlock/core/launcher.py
Labels: enhancement

#339 fix: link check with docs build
  doc/source/conf.py
Labels: bug, documentation
