Repository ansys/pysherlock, pull requests merged in 2024-11, with the labels that each got.

#438 fix: proper AUTHORS file
  AUTHORS
  doc/changelog.d/438.fixed.md
Labels: bug, documentation

#431 feat: launching a specific version of Sherlock
  doc/changelog.d/431.added.md
  src/ansys/sherlock/core/launcher.py
  tests/test_launcher.py
Labels: testing, enhancement, documentation

#446 docs: update the pull request template
  PULL_REQUEST_TEMPLATE.md
  doc/changelog.d/446.documentation.md
Labels: documentation

#441 feat: Keith/potting region update
  doc/changelog.d/441.documentation.md
  doc/source/api/layer_types.rst
  pyproject.toml
  src/ansys/sherlock/core/layer.py
  src/ansys/sherlock/core/types/common_types.py
  src/ansys/sherlock/core/types/layer_types.py
  tests/test_layer.py
Labels: testing, dependencies, documentation, maintenance

#448 feat:Keith/copy delete potting region
  doc/changelog.d/448.documentation.md
  doc/source/api/layer_types.rst
  src/ansys/sherlock/core/layer.py
  src/ansys/sherlock/core/types/layer_types.py
  src/ansys/sherlock/core/utils/version_check.py
  tests/test_layer.py
Labels: testing, documentation

#442 fix: Analysis.update_harmonic_vibe_props(): add support for setting model source and strain map natural frequency
  doc/changelog.d/442.documentation.md
  src/ansys/sherlock/core/analysis.py
  tests/test_analysis.py
Labels: testing, documentation

#450 doc: project logo
  README.rst
  doc/changelog.d/450.documentation.md
  doc/source/_static/logo/logo.png
  doc/source/_static/logo/logo.svg
  doc/source/conf.py
  doc/source/index.rst
Labels: documentation
