Repository ansys/pysherlock, pull requests merged in 2024-10, with the labels that each got.

#418 Remove sleep() calls from unit tests since they are no longer needed
  tests/test_analysis.py
  tests/test_parts.py
  tests/test_stackup.py
Labels: testing

#411 MAINT: add files related to authors, contributions and code of conduction
  AUTHORS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
Labels: documentation, maintenance

#417 Bug fix: single_project_path argument
  src/ansys/sherlock/core/launcher.py
Labels: bug

#423 MAINT: add inputs to ci/cd actions
  .github/workflows/ci_cd.yml
Labels: maintenance

#426 MAINT: add action changelog and changelog.rst for release notes
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  doc/changelog.d/426.documentation.md
  doc/changelog.d/changelog_template.jinja
  doc/source/changelog.rst
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
Labels: dependencies, documentation, maintenance

#428 Update unit test for HV strain map analysis.
  doc/changelog.d/428.documentation.md
  tests/test_analysis.py
Labels: testing, documentation
