Repository ansys/pysherlock, pull requests merged in 2024-01, with the labels that each got.

#200 New listThermalMaps() API
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/project.py
  tests/test_project.py
Labels: documentation, enhancement, testing

#216 Fix labeler error
  .github/labeler.yml
  .github/workflows/label.yml
Labels: bug, maintenance

#217 Update parts list from AVL: fix unit tests, include classes for enums in API docs
  doc/source/api/parts_types.rst
  src/ansys/sherlock/core/types/parts_types.py
  tests/test_parts.py
  tests/test_project.py
Labels: documentation, testing
