Repository ansys/pysherlock, pull requests merged in 2024-02, with the labels that each got.

#214 New API: updateThermalMaps()
  doc/source/api/index.rst
  doc/source/api/project_types.rst
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/project.py
  src/ansys/sherlock/core/types/project_types.py
  tests/test_project.py
Labels: documentation, testing

#229 fix: codecov
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#231 New API: importProjectZipArchive()
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/project.py
  tests/test_project.py
Labels: testing
