Repository ansys/pysherlock, pull requests merged in 2024-12, with the labels that each got.

#454 feat: add type hints
  doc/Makefile
  doc/changelog.d/454.documentation.md
  doc/source/api/analysis_types.rst
  doc/source/api/common_types.rst
  doc/source/api/index.rst
  pyproject.toml
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/common.py
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/grpc_stub.py
  src/ansys/sherlock/core/launcher.py
  src/ansys/sherlock/core/layer.py
  src/ansys/sherlock/core/lifecycle.py
  src/ansys/sherlock/core/model.py
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/project.py
  src/ansys/sherlock/core/pysherlock_logging.py
  src/ansys/sherlock/core/sherlock.py
  src/ansys/sherlock/core/stackup.py
  src/ansys/sherlock/core/types/analysis_types.py
  src/ansys/sherlock/core/types/common_types.py
  src/ansys/sherlock/core/types/layer_types.py
  src/ansys/sherlock/core/types/parts_types.py
  src/ansys/sherlock/core/types/project_types.py
  src/ansys/sherlock/core/types/stackup_types.py
  src/ansys/sherlock/core/utils/version_check.py
  tests/test_analysis.py
  tests/test_common.py
  tests/test_layer.py
  tests/test_lifecycle.py
  tests/test_parts.py
  tests/test_project.py
  tests/test_stackup.py
Labels: testing, dependencies, documentation, maintenance

#461 feat: increment version of ansys-api-sherlock to 0.1.35
  doc/changelog.d/461.documentation.md
  pyproject.toml
Labels: dependencies, documentation, maintenance

#467 fix: conf.py issue
  doc/changelog.d/467.fixed.md
  doc/source/conf.py
Labels: bug, documentation

#470 fix: import statements
  doc/changelog.d/470.fixed.md
  src/ansys/sherlock/core/model.py
Labels: bug, documentation
