Repository ansys/pysherlock, pull requests merged in 2024-09, with the labels that each got.

#371 fix: allow newer protobuf versions
  pyproject.toml
Labels: bug, dependencies, maintenance

#369 New API: copy_modeling_region()
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/layer.py
  tests/test_layer.py
Labels: testing, enhancement

#376 Get part validation analysis properties
  pyproject.toml
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/parts.py
  tests/test_analysis.py
  tests/test_layer.py
Labels: testing, dependencies, maintenance

#379 New api: delete_modeling_region()
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/layer.py
  tests/test_layer.py
Labels: testing, enhancement

#384 layer.copy_modeling_region()- moved pre-validation for copy_regions t…
  src/ansys/sherlock/core/layer.py
Labels: bug

#389 Bug fix: fixed optional parameters that were mandatory in the method
  src/ansys/sherlock/core/model.py
  tests/test_model.py
Labels: testing

#386 Bug fix: error message missing
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/layer.py
  tests/test_layer.py
Labels: testing
