Repository ansys/pysherlock, pull requests merged in 2025-01, with the labels that each got.

#478 feat: add Analysis.update_component_failure_mechanism_analysis_props()
  doc/changelog.d/478.added.md
  doc/source/api/analysis_types.rst
  pyproject.toml
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/types/analysis_types.py
  tests/test_analysis.py
Labels: testing, dependencies, enhancement, documentation, maintenance

#481 MAINT: Add support for Python 3.13
  .github/workflows/ci_cd.yml
  doc/changelog.d/481.documentation.md
  pyproject.toml
  tox.ini
Labels: dependencies, documentation, maintenance

#485 MAINT: Revert grpcio version for tests. Modify dependabot.yml so it doesn't update grpcio dependencies
  .github/dependabot.yml
  doc/changelog.d/485.documentation.md
  pyproject.toml
Labels: dependencies, documentation, maintenance

#477 docs: Updated documentation in update potting region.
  doc/changelog.d/477.documentation.md
  src/ansys/sherlock/core/layer.py
Labels: documentation

#487 fix: changed Launcher.launch_sherlock() to properly append sherlock_command_args
  doc/changelog.d/487.documentation.md
  src/ansys/sherlock/core/launcher.py
Labels: documentation

#488 feat: New API update_semiconductor_wearout_props()
  doc/changelog.d/488.added.md
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/types/analysis_types.py
  tests/test_analysis.py
Labels: testing, enhancement, documentation
