Repository ansys/pysherlock, pull requests merged in 2025-02, with the labels that each got.

#494 feat: Update license file to latest
  LICENSE
  doc/changelog.d/494.documentation.md
Labels: documentation

#492 feat: new API update_PTH_fatigue_props()
  doc/changelog.d/492.added.md
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/sherlock/core/analysis.py
  src/ansys/sherlock/core/types/analysis_types.py
  tests/test_analysis.py
Labels: testing, enhancement, documentation

#506 fix: API updatePTHFatigueProps()
  doc/changelog.d/506.fixed.md
  src/ansys/sherlock/core/types/analysis_types.py
Labels: bug, documentation

#505 feat: new API update_pad_properties()
  doc/changelog.d/505.added.md
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/types/parts_types.py
  tests/test_parts.py
Labels: testing, enhancement, documentation

#515 fix: PartLocation variable was renamed by mistake
  doc/changelog.d/515.fixed.md
  src/ansys/sherlock/core/types/parts_types.py
Labels: bug, documentation
