Repository ansys/pysherlock, pull requests merged in 2025-04, with the labels that each got.

#541 test: modify test for getting part list properties to validate partNumber instead of validating number of properties
  doc/changelog.d/541.documentation.md
  tests/test_parts.py
Labels: testing, documentation

#508 feat: Refactor launcher to allow connecting to Sherlock that is running
  doc/changelog.d/508.added.md
  doc/source/api/launcher.rst
  src/ansys/sherlock/core/launcher.py
  src/ansys/sherlock/core/types/parts_types.py
  src/ansys/sherlock/core/utils/version_check.py
  tests/test_launcher.py
Labels: testing, enhancement, documentation

#545 fix: stackup test- modified expected CTEz for result of Stackup.get_stackup_props()
  doc/changelog.d/545.documentation.md
  tests/test_stackup.py
Labels: testing, documentation

#548 fix: don't try to launch Sherlock that isn't installed with corresponding version of Ansys
  doc/changelog.d/548.fixed.md
  src/ansys/sherlock/core/launcher.py
  tests/test_launcher.py
Labels: bug, testing, documentation

#549 test: fix launcher tests
  doc/changelog.d/549.documentation.md
  src/ansys/sherlock/core/launcher.py
  tests/test_launcher.py
Labels: testing, documentation

#561 docs: Examples: reorganize folders, fix Sphinx warnings
  doc/changelog.d/561.documentation.md
  doc/source/conf.py
  doc/source/examples/index.rst
  examples/00-setup/README.txt
  examples/00-setup/setup.py
  examples/01-project-configuration/update_parts_list.py
  examples/02-importing/README.txt
  examples/02-importing/import_ipc_2581_archive.py
  examples/02-importing/import_odb_archive.py
  examples/02-importing/import_parts_list.py
  examples/02-importing/import_project_zip_archive_single_mode.py
  examples/02-importing/import_project_zip_file.py
  examples/03-exporting/README.txt
  examples/03-exporting/export_aedb.py
  examples/03-exporting/export_all_mount_points.py
  examples/03-exporting/export_all_test_fixtures.py
  examples/03-exporting/export_all_test_points.py
  examples/03-exporting/export_fea_model.py
  examples/03-exporting/export_net_list.py
  examples/03-exporting/export_part_list.py
  examples/03-exporting/export_project.py
  examples/03-exporting/export_trace_model.py
  examples/04-analyses/README.txt
  examples/04-analyses/get_parts_list_analysis_props.py
  examples/04-analyses/get_random_vibe_inputs_fields.py
  examples/04-analyses/run_analysis.py
  examples/04-analyses/run_harmonic_vibe_strain_map_analysis.py
  examples/04-analyses/run_mechanical_shock_strain_map_analysis.py
  examples/04-analyses/run_random_vibe_strain_map_analysis.py
  examples/04-analyses/update_harmonic_vibe_properties.py
  examples/04-analyses/update_ict_properties.py
  examples/04-analyses/update_mechanical_shock_properties.py
  examples/04-analyses/update_part_validation_properties.py
  examples/04-analyses/update_pcb_modeling_properties.py
  examples/04-analyses/update_random_vibe_properties.py
  examples/04-analyses/update_solder_fatigue_properties.py
  examples/examples_globals.py
  src/ansys/sherlock/core/common.py
  src/ansys/sherlock/core/launcher.py
  src/ansys/sherlock/core/layer.py
  src/ansys/sherlock/core/lifecycle.py
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/stackup.py
  src/ansys/sherlock/core/utils/version_check.py
Labels: documentation

#560 feat: new API to add board outline
  doc/changelog.d/560.added.md
  doc/source/api/project_types.rst
  src/ansys/sherlock/core/project.py
  src/ansys/sherlock/core/types/common_types.py
  src/ansys/sherlock/core/types/project_types.py
  tests/test_project.py
Labels: testing, enhancement, documentation
