Repository ansys/pysherlock, pull requests merged in 2025-03, with the labels that each got.

#502 feat: add Parts.get_parts_list_properties()
  doc/changelog.d/502.added.md
  doc/source/api/parts_types.rst
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/types/parts_types.py
  tests/test_parts.py
Labels: testing, enhancement, documentation

#462 fea: adding new PySherlock APIs Layer.list_layers and Layer.export_layer_image
  doc/changelog.d/462.documentation.md
  doc/changelog.d/changelog_template.jinja
  pyproject.toml
  src/ansys/sherlock/core/errors.py
  src/ansys/sherlock/core/layer.py
  tests/test_layer.py
Labels: testing, dependencies, documentation, maintenance

#522 fix: update_pad_properties - returnCode management
  doc/changelog.d/522.fixed.md
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/types/parts_types.py
  tests/test_parts.py
Labels: bug, testing, documentation

#526 feat: new API deletePartsFromPartsList()
  doc/changelog.d/526.added.md
  pyproject.toml
  src/ansys/sherlock/core/parts.py
  src/ansys/sherlock/core/types/parts_types.py
  tests/test_parts.py
Labels: testing, dependencies, enhancement, documentation, maintenance

#529 fix: unit test for Layer.list_layers()
  doc/changelog.d/529.documentation.md
  tests/test_layer.py
Labels: testing, documentation

#530 feat: Update thermal maps APIs
  doc/changelog.d/530.added.md
  pyproject.toml
  src/ansys/sherlock/core/project.py
  src/ansys/sherlock/core/types/project_types.py
  tests/test_project.py
Labels: testing, dependencies, enhancement, documentation, maintenance

#534 feat: Get solder info RPC
  doc/changelog.d/533.documentation.md
  doc/changelog.d/534.added.md
  src/ansys/sherlock/core/common.py
  tests/test_common.py
Labels: testing, enhancement, documentation

#535 maint: set sphinx-design as documentation requirement
  doc/changelog.d/535.documentation.md
  pyproject.toml
Labels: dependencies, documentation, maintenance
